{% extends 'base.html' %}
{% load static %}
{% load app_tags %}
{% block content %}

<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <form action="" method="post">
                {% csrf_token %}
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                        Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" {% if not price %} checked {% endif %}name="price" value="all"
                            class=" custom-control-input" id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="0-500" class=" custom-control-input" id="price-1"
                            {%if '0-500' in price%}checked{% endif %}>
                        <label class=" custom-control-label" for="price-1">₹0 - ₹500</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="500-1000" class=" custom-control-input" id="price-2"
                            {%if '500-1000' in price%}checked{% endif %}>
                        <label class="custom-control-label" for="price-2">₹500 - ₹1000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="1000-1500" class=" custom-control-input" id="price-3"
                            {%if '1000-1500' in price%}checked{% endif %}>
                        <label class="custom-control-label" for="price-3">₹1000 - ₹1500</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="1500-2000" class=" custom-control-input" id="price-4"
                            {%if '1500-2000' in price%}checked{% endif %}>
                        <label class="custom-control-label" for="price-4">₹1500 - ₹2000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="2000-2500" class=" custom-control-input" id="price-5"
                            {%if '2000-2500' in price%}checked{% endif %}>
                        <label class="custom-control-label" for="price-5">₹2000 - ₹2500</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="2500-3000" class=" custom-control-input" id="price-6"
                            {%if '2500-3000' in price%}checked{% endif %}>
                        <label class="custom-control-label" for="price-6">₹2500 - ₹3000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price" value="above" class=" custom-control-input" id="price-7"
                            {%if 'above' in price%}checked{% endif %}>
                        <label class="custom-control-label" for="price-7">₹3000 & above</label>
                    </div>
                </div>
                <!-- Price End -->

                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">
                        Filter by color</span></h5>
                <div class="bg-light p-4 mb-30">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" {%if not color%} checked {%endif%}class=" custom-control-input"
                            name="color" value="all" id="color-all">
                        <label class="custom-control-label" for="color-all">All Color</label>
                    </div>
                    {% for c in colors %}
                    {% if not forloop.first %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" name="color" value="{{ c.color }}"
                            id="color-{{ forloop.counter }}" {% if c.color in color %} checked {% endif %}>
                        <label class="custom-control-label" for="color-{{ forloop.counter }}">{{ c.color }}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <input type="submit" value="Apply" class="btn btn-primary mb-4 ml-2">
            </form>
            <!-- Color End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            {% if qry %}
            <h4>Showing results for ' {{ qry }} '</h4>
            {% endif%}
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                    data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                    data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in pg.object_list %}
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" style="height: 15rem;" src="{{ product.img.url }}" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark" href="{% url 'add_to_wishlist' product.id %}"
                                    title="Add this product to Wishlist"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <a class="h5 text-decoration-none text-truncate" href="{{ product.get_url }}">
                                {{ product.name }}</a>
                            <p class="h6 text-muted">{{ product.desc|truncatewords:6 }}</p>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>₹ {{ product.actual_price }}</h5>
                                <h6 class="text-muted ml-2"><del>₹{{ product.price|floatformat:2 }}</del></h6>
                            </div>
                            <p class="text-info">({{ product.offer.offer }}% OFF)</p>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                {% for i in product.avg_review|times %}
                                <small class="fa fa-star text-star mr-1"></small>
                                {% empty %}
                                <small class="far fa-star text-star mr-1"></small>
                                <small class="far fa-star text-star mr-1"></small>
                                <small class="far fa-star text-star mr-1"></small>
                                <small class="far fa-star text-star mr-1"></small>
                                <small class="far fa-star text-star mr-1"></small>
                                {% endfor %}
                                {% if product.avg_review != 0 %}
                                {% for j in product.avg_review|rating_rem %}
                                <small class="far fa-star text-star mr-1"></small>
                                {% endfor %}
                                {% endif %}
                                <small>({{ product.tot_reviews }})</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if pg.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?qry={{qry}}&page={{pg.previous_page_number}}">Previous</span></a></li>
                            {% endif %}
                            {% for p in pg.paginator.page_range %}
                            <li class="page-item {% if pg.number == p %} active {% endif %}"><a class="page-link"
                                    href="?qry={{qry}}&page={{p}}">{{ p }}</a>
                                {% if pg.number == p %}
                                <input type="hidden" id="cur_page" value="{{p}}">
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% if pg.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?qry={{qry}}&page={{pg.next_page_number}}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

<!-- <script>
    var pageno = document.getElementById("#cur_page")
    // val = pageno.getElementsByClassName('.page-link')
    // val = 1
    // var pageno = 1
    alert(pageno)
</script> -->

{% endblock %}